body {
    background-color: #f0fff2;
    color: #333;
}



h1 {
    color: rgb(43, 255, 20); 
}

li {
    color: purple;
}

a {
    color: rgb(195, 105, 255);
}

a:hover {
    color: rgb(33, 21, 199); 
}

img {
    border: 5px solid rgb(192, 214, 255); 
}

footer {
    background-color: pink; 
    color: #222;
}
