body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f6f6f6;
  color: #333;
}

header, footer {
  
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

#catalogo {
  width: 100%;
  max-width: 1200px;
  
  padding: 2rem;
  border-radius: 10px;
 
}

#lista-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
h1{
  displau
}
article {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  
}

article img {
  max-width: 100%;
  border-radius: 6px;
}

button {
  margin-top: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

#carrinho {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  background-color: #d0f0fd;
  padding: 2rem;
  width: 100%;         
  box-sizing: border-box;
}

#lista-carrinho {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;               
  box-sizing: border-box;    
}

#lista-carrinho article {
  width: 200px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#lista-carrinho article img {
  max-width: 100%;
  border-radius: 6px;
}

h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

#total {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #111;
}
footer{
  background-color: #111;
}
#filtros{
    display: flex;
   
  
  gap: 1rem;
  justify-content: center;
  align-items: center;
}